<extend name="Public:base" />

<block name="content">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><em class="glyphicon glyphicon-cloud-upload"></em> 
            {$type}         
            </h3>
        </div>
        
    </div>

    <div class="row margin-botton">
        <div class="col-sm-6 column">
            <div class="btn-group btn-group-md">
                <button class="btn btn-primary" type="button" onclick="goUrl('{:U('add')}')"><em class="glyphicon glyphicon-plus-sign"></em> 添加提成办法</button>
                <button class="btn btn-default" type="button" onclick="doGoSubmit('{:U('sort')}','form_do')"><em class="glyphicon glyphicon-th-list"></em> 更新排序</button>
                <!-- <button class="btn btn-default" type="button" onclick="doGoSubmit('{:U('qk')}','form_do')"><em class="glyphicon glyphicon-th-list"></em> 更新快捷面板</button> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form action="" method="post" id="form_do" name="form_do">
                <div class="table-responsive">
                    <table class="table table-hover xyh-table-bordered-out">
                        <thead>
                            <tr class="active">
                                <th>编号</th>
                                <th>提成办法名称</th>
                                <th>科室名称</th>
                                <th>医生等级</th>
                                <th>排序</th>
                                <th>提成办法</th>
                                <th class="text-right">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <foreach name='cate' item='v'>
                        <tr>
                            <td>{$v.id}</td>
                            <td>{$v.name}</td>
                            <td class="aleft">{$v.officename}</td>

                            <td>
                            <span class="label label-success">
                            <if condition="$v['level'] eq 1">等级一
                            <elseif condition="$v['level'] eq 2" />等级二
                            <elseif condition="$v['level'] eq 3" />等级三
                            <elseif condition="$v['level'] eq 4" />等级四
                            <elseif condition="$v['level'] eq 5" />等级五
                            </if>
                            </span>
                            </td>   

                            <td><input type="text" name="sortlist[{$v.id}]" value="{$v.sort}" id="sortlist" size="5" class="xyh-form-control" /></td>
                            <td>{$v.boundary}元以下{$v.downper}%，以上{$v.upper}%</td>
                            <td class="text-right">
                                
                                    <!-- <a href="{:U('add',array('pid' => $v['id']))}" class="label label-info">添加子菜单</a> -->
                                    <a href="{:U('edit',array('id' => $v['id']))}" class="label label-success">修改</a>
                                    <a href="javascript:;" onclick="toConfirm('{:U('delbonus', array('id' => $v['id']))}', '确实要删除吗？')" class="label label-danger">删除</a>
                               
                            </td>
                        </tr>
                        </foreach>
                        </tbody>
                    </table>
                </div>
            </form>
            
        </div>
    </div>

    </block>