<extend name="Public:base" />
<block name="content">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header"><em class="glyphicon glyphicon-cloud-upload"></em> 
			修改菜单
		    </h3>
		</div>
		
	</div>


	<div class="row">
		<div class="col-lg-12">

				<form method='post' class="form-horizontal" id="form_do" name="form_do" action="{:U('editPost')}">
					<!-- <div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">上级菜单</label>
						<div class="col-sm-9">
							<select name="pid" class="form-control">
								<option value="0">顶级菜单</option>
								<foreach name='cate' item='v'>
								<option value="{$v.id}" <if condition="$data['pid'] eq $v['id']">selected="selected"</if>>{$v.delimiter}{$v.name}</option>
								</foreach>
							</select>		
						</div>
					</div> -->

					<div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">办法名称</label>
						<div class="col-sm-9">
							<input type="text" name="name" id="inputName" value="{$data.name}" class="form-control"  required="required" />		
						</div>
					</div>


					<div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">选择等级</label>
						<div class="col-sm-9">
							<select name="level" class="form-control">
								<option value="0">请选择等级</option>
								<option value="1" <if condition="$data['level'] eq 1">selected="selected"</if>>等级一</option>
								<option value="2" <if condition="$data['level'] eq 2">selected="selected"</if>>等级二</option>
								<option value="3" <if condition="$data['level'] eq 3">selected="selected"</if>>等级三</option>
								<option value="4" <if condition="$data['level'] eq 4">selected="selected"</if>>等级四</option>
								<option value="5" <if condition="$data['level'] eq 5">selected="selected"</if>>等级五</option>
								<!-- <option value="6">等级五</option>
								<option value="7">等级五</option> -->
							</select>		
						</div>
					</div>
					<div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">选择科室</label>
						<div class="col-sm-9">
							<select name="oid" class="form-control">
								<option value="0">请选择科室</option>
								<foreach name='office' item='v'>
								<option value="{$v.id}" <if condition="$data['oid'] eq $v['id']">selected="selected"</if>>{$v.name}</option>
								</foreach>
							</select>		
						</div>
					</div>

					<div class="form-group">
							<label for="inputName" class="col-sm-2 control-label">提成办法</label>
							<div class="col-sm-9">
								<input type="text" name="boundary" placeholder="" required="required" value="{$data.boundary}" />元以下提成比率为<input type="text" name="downper" value="{$data.downper}">%,以上提成比率为<input type="text" name="upper" value="{$data.upper}">%	
							</div>
					</div>
					<div class="form-group">
							<label for="inputName" class="col-sm-2 control-label"></label>
							<div class="col-sm-9">
								<span style="color: red">如果提成全部按照一个比例，则填写0元，以下比率0，以上比率按照实际比率填写	</span>
							</div>
					</div>
					<!-- <div class="form-group">
						<label for="inputModule" class="col-sm-2 control-label">模块名</label>
						<div class="col-sm-9">
							<input type="text" name="module" id="inputModule" value="{$data.module}" class="form-control" placeholder="模块名：首字母大写" />	
						</div>
					</div> -->

					<!-- <div class="form-group">
						<label for="inputAction" class="col-sm-2 control-label">方法名</label>
						<div class="col-sm-9">
							<input type="text" name="action" id="inputAction" value="{$data.action}" class="form-control" placeholder="方法名：首字母小大写" />
						</div>
					</div> -->

					<!-- <div class="form-group">
						<label for="inputParameter" class="col-sm-2 control-label">附加参数</label>
						<div class="col-sm-9">
							<input type="text" name="parameter" id="inputParameter" value="{$data.parameter}" class="form-control" placeholder="附加参数" />	
						</div>
					</div> -->

					<div class="form-group">
						<label for="inputSort" class="col-sm-2 control-label">排序</label>
						<div class="col-sm-9">
							<input type="text" name="sort" id="inputSort" value="{$data.sort}" class="form-control" placeholder="排序" />	
						</div>
					</div>
					
					<!-- <div class="form-group">
						<label for="" class="col-sm-2 control-label">显示</label>
						<div class="col-sm-9">
							<label class="radio-inline">
							<input type="radio" name="status" value="1" <if condition='$data.status eq 1'>checked="checked"</if> />显示</label>
							<label class="radio-inline">
							<input type="radio" name="status" value="0" <if condition='$data.status eq 0'>checked="checked"</if> />隐藏</label>
						</div>
					</div>	 -->			

					<div class="row margin-botton-large">
						<div class="col-sm-offset-2 col-sm-9">
							<input type="hidden" name="id" value="{$data.id}"/>	
							<div class="btn-group">							
								<button type="submit" class="btn btn-primary"> <i class="glyphicon glyphicon-saved"></i>
									保存
								</button>
								<button type="button" onclick="goUrl('{:U('index')}')" class="btn btn-default"> <i class="glyphicon glyphicon-chevron-left"></i>
									返回
								</button>
							</div>
						</div>
					</div>
				</form>
	
		</div>
	</div>

		


</block>